<%- include header %>
<div class="col-xs-12 col-md-12 addShop">

    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-12 col-md-10 shopForm">
        <form class="form-inline" role="form" method="post">
            <div class="row">
                <div class="col-md-12 btnBar">
                    <div class="row">
                        <div class="col-xs-3 col-md-3"><button type="submit" class="btn btn-primary">保存商品</button></div>
                        <div class="col-xs-3 col-md-3"><a href="/addShopAttr" class="btn btn-primary">添加属性</a></div>
                        <div class="col-xs-3 col-md-3"><a href="#" class="btn btn-primary">删除属性</a></div>
                        <div class="col-xs-3 col-md-3"><button type="reset" class="btn btn-primary">取消</button></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">商品名称: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="name" placeholder="请输入商品名称" autofocus="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">单价(元): </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="price" placeholder="请输入单价">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">商品数量: </label>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">-</button>
                            <input type="text" class="btn btn-default" name="num">
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">单位: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="unit" placeholder="请输入单位">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<%- include footer %>
