<%- include header %>
<div class="col-xs-12 col-md-12 addShop">
    <div class="col-xs-1 col-md-2"></div>
      <div class="col-xs-12 col-md-10 shopForm">
        <form class="form-inline" role="form" method="post" name="product">
           <table class="table">
                <div class="row">
                    <tr>
                        <td><label for="inputEmail3" class="col-sm-2 control-label">打折规则: </label></td>
                        <td>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="rule" placeholder="请输入规则信息" size="30" autofocus="true" onchange="check_input()">
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="inputEmail3" class="col-sm-2 control-label">打折期限:</label></td>
                        <td>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="start_time" size="15" placeholder="请输入开始日期" onchange="check_input()">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="end_time" size="15" placeholder="请输入结束日期" onchange="check_input()">
                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="inputEmail3" class="col-sm-2 control-label">买: </label></td>
                        <td>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="buy" size="5" placeholder="输入数目" size="30" autofocus="true" onchange="check_input()">
                        </div>
                        <label for="inputEmail3" class="col-sm-2 control-label">赠: </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="free" size="5" placeholder="输入数目" size="30" autofocus="true" onchange="check_input()">
                        </div>
                        </td>
                    </tr>
                    <tr>
                    <td><button type="submit"  class="btn btn-primary" >添加</button></td>
                    <td><button type="reset" class="btn btn-primary">取消</button></td>
                    </tr>
                </div>
           </table>
        </form>
      </div>
    </div>
    <script>
    function jugement(){
        if(document.product.name.value.match("/^([A-Za-z0-9]{*})=='([A-Za-z0-9]{*})'")){
            alert("输入正确");
        }
    }
    </script>
<%- include footer %>