<div>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-9">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" >Let's Go</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">
                    <li><a href="/#/main">主页</a></li>
                    <li><a href="/#/Product_list">商品列表</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-right: 50px;"><a><span class="glyphicon glyphicon-shopping-cart"></span>购物车({{num}})</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->


        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center"><h3>购物清单</h3></div>
            <div class="panel-body">
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th class="text-center">分类</th>
                        <th class="text-center">名称</th>
                        <th class="text-center">单价(元)</th>
                        <th class="text-center">单位</th>
                        <th class="text-center">数量</th>
                        <th class="text-center">小计</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="message in Message" class="text-center">
                        <td>{{message.kind}}</td>
                        <td>{{message.name}}</td>
                        <td>{{message.prices}}</td>
                        <td>{{message.Unit}}</td>
                        <td><div class="btn-group"><button type="button" class="btn btn-default" ng-click="lower(message.name)">-</button>
                            <a type="button" class="btn btn-default disabled">{{message.num}}</a>
                            <button type="button" class="btn btn-default" ng-click="add(message.name)">+</button></div></td>
                        <td>{{message.discounts}}元</td>
                   </tbody>
                </table>
            </div>
            <div class="well text-right">
                <p>总计：<span>{{all}}</span></p>
                <p>节省：<span>{{free}}</span></p>
                <a class="btn btn-lg btn-primary" href="/#/Payment">付款</a>
            </div>
        </div>
    </div>
</div>