<!DOCTYPE html>
<html>
<head lang="en">
    <title><%= title %></title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/background.css' />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">

        <div class="col-xs-12 col-md-12">
            <div class="head">
                <img src="images/administrator.png">
                <p>pos机后台管理系统</p>
            </div>
        </div>

        <div class="col-xs-2 col-md-2">
            <ul class="bar">
                <li><a href="/admin">商品管理</a></li>
                <li><a href="/discount">折扣活动</a></li>
            </ul>
        </div>

        <div class="col-xs-10 col-md-10">
            <div class="content">
